In [1]:
import numpy as np
import pandas as pd
iris={
"Sepal_Length":[5.1,4.9,4.7,4.6,5  ,5.4,4.6,5  ],
"Sepal_Width": [3.5,3  ,3.2,3.1,3.6,3.9,3.4,3.4]
}

frame = pd.DataFrame(data = iris)
frame

   Sepal_Length  Sepal_Width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6
5           5.4          3.9
6           4.6          3.4
7           5.0          3.4

# Save

In [2]:
frame.to_csv('/tmp/iris_small.csv')
# cf) frame.to_csv('/tmp/iris_small.csv',na_rep='NaN',sep=',')

# Load

In [3]:
!ls /tmp/*csv
!cat /tmp/iris_small.csv

/tmp/iris_small.csv
,Sepal_Length,Sepal_Width
0,5.1,3.5
1,4.9,3.0
2,4.7,3.2
3,4.6,3.1
4,5.0,3.6
5,5.4,3.9
6,4.6,3.4
7,5.0,3.4

In [4]:
df=pd.read_csv('/tmp/iris_small.csv')

print(df.columns)

Index(['Unnamed: 0', 'Sepal_Length', 'Sepal_Width'], dtype='object')

In [5]:
df.drop('Unnamed: 0',1,inplace=True)

In [6]:
df

   Sepal_Length  Sepal_Width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6
5           5.4          3.9
6           4.6          3.4
7           5.0          3.4